.bug-nav{
    position: fixed;
    top: 30px;
    left: 30px;
    z-index: 10000;
    a{
        background-color: #fff;
        color: #000;
        margin-bottom: 15px;
    }
}

.wrap{
    max-width: 1024px;
    margin: 0 auto;
    font-family: Microsoft JhengHei;
}

.header{
    position: relative;
    width: 100%;
}

.banner{
    width: 100%;
    height: 0px;
    padding-bottom: 40%;
    background-image: url("../img/header_desktop.png");
    background-size: 100%;
    background-repeat: no-repeat;
    @include phone{
        height: 420px;
        padding-bottom: 0;
        background-image: url('../img/header_mobile.png');
        background-size: cover;
        background-position: center;
    }
}

.slogan{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0,0,0,0.35);
    color: #FFF;
    text-align: center;
    padding: 20px;

    h2{
        font-size: 36px;
        line-height: 48px;
        margin-bottom: 16px;
        span{
            display: none;
        }
    }

    p{
        line-height: 20px;
    }

    @include pad{
        padding: 10px;

        h2{
            font-size: 28px;
            line-height: 36px;
        }
        p{
            font-size: 14px;
            line-height: 18px;
        }
    }
    @include phone{
        width: 85%;
        padding: 6px;
        h2{
            span{
                display: block;
                line-height: 0;
            }
        }
    }
}



.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 1024px;
    z-index: 1000;
    padding: 16px 42px;
    background-color: rgba(0, 0,0, 0.75);

    @include pad{
        padding: 16px 13px; 
    }
}


.logo a{
    background-image: url(../img/logo_w.png);
    background-image: url(../img/logo_w.svg);
    background-size: contain;
    width: 120px;
    height: 24px;
    background-repeat: no-repeat;
    @include hide-text;
}

.nav ul{
    display: flex;
    justify-content: space-around;;

    li{
        position: relative;
        padding: 0px 15px;
        a{
        color:#FFF;
        font-size: 16px;
        }
    }
    
    .active::after{
        position: absolute;
        content: '';
        width: 62px;
        display: block;
        top: 25px;
        left: 50%;
        transform: translate(-50%, -50%);
        border-bottom: 3px solid $theme-color-light-1;
        transition: all 3s;
    }
}

.footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 54px 42px;
    background-color: $theme-color-light-1;
    color: $theme-color-dark;

    @include pad{
        padding: 54px 10px;
    }
    @include phone{
        flex-direction: column;
        justify-content: flex-start;
        padding: 50px 10px;
    }
}

.footer-information{
    display: flex;
    justify-content: space-between;
    padding: 4px;
    line-height: 21px;

    .about{
        margin-right: 20px;
    }

    h2{
        font-size: 24px;
        margin-bottom: 16px;
    }

    p{
        max-width: 300px;
    }
    
    ul{
        list-style: inside;
    }

    @include pad{
        .about{
            margin-right: 10px;
        }
        p{
            font-size: 14px;
        }
        ul li{
            font-size: 14px;
        }
    }
    @include phone{
        flex-direction: column;
        justify-content: flex-start;
        .about{
            font-size: 16px;
            margin-right: 0px;
            margin-bottom: 30px;
        }
        ul{
            margin-bottom: 30px;
            li{
                font-size: 16px;
            }
        }
        
    }
}

.footer-logo{
    display: flex;
    flex-direction: column;
    align-items: center;

    .footer-logo-img a{
        background-image: url(../img/logo_l.png);
        background-image: url(../img/logo_l.svg);
        background-size: contain;
        width: 240px;
        height: 49px;
        background-repeat: no-repeat;
        margin-bottom: 22px;
        @include hide-text;
    }

    .social-media{
        width: 100%;
    }

    .social-media ul{
        display: flex;
        justify-content: flex-end;

        li{
            font-size: 36px;
            margin-left: 12px;
        }
        .google-icon{
            color:#DB4437;
        }
        .twitter-icon{
            color:#41ABE1;
        }
        .facebook-icon{
            color:#3A5795
        }
    }
    @include phone{
        align-items: flex-end;
    }
}

.to-top{
    position: fixed;
    background-color: $theme-color-light-1;
    color: $theme-color-dark;
    cursor: pointer;
    bottom: 20px;
    right: 20px;
    font-size: 40px;
    border-radius: 50%;
    padding: 5px;
    @include pad{
        opacity: 0.7;
    }
}